.ta {
  width: 100%;
  height: 100%;
  border: solid 0px red;
  display: block;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    &:focus {
      background-color:lightskyblue;
    }
}