.item-preview-tool {
  width: 100%;
  height: 100%;   
  padding: 0px;
  margin: 0px;
  display: flex;
}    

html, body{
  margin: 0;
  padding: 0;
}
.left-pane, .right-pane {
  flex: 1;
}  

.left-pane {
  display: flex;
  flex-direction: column;
  // border: solid 1px lightgreen;
}

.controls{
  padding: 10px;
  border-bottom: solid 1px grey;
}
.right-pane {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: solid 1px grey;
  padding-left: 10px;
  // border: solid 1px lightsalmon;
} 

.info{
  padding-top: 10px;
  color: blue;
  font-family: 'Roboto', sans-serif; 
  font-size: 0.9rem;
}

item-preview-tool {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0px;    
}
.code-editor {
  // border: solid 1px yellow;
  flex: 1;
}